.navbar {
    background-color: orange;
}

.jumbotron {
    padding-top: 2rem;
    background-color: #f0dbb6;
}

#portofolio {
    background-color: #f0dbb6;
}

#team {
    background-color: #f0dbb6;
}