.navbar {
    background-color: orange;
}

.jumbotron {
    padding-top: 6rem;
    background-color: #f0dbb6;
    background-image: url(img/background.jpg);
    background-size: auto;
}

#portofolio {
    background-color: #f0dbb6;
}

#team {
    background-color: #f0dbb6;
}

section {
    padding-top: 6rem;
}